[submodule "homepage"]
	path = homepage
	url = https://github.com/abbychau/gtsdb-homepage.git
[submodule "admin"]
	path = admin
	url = https://github.com/abbychau/gtsdb-admin.git
[submodule "benchmark"]
	path = benchmark
	url = https://github.com/abbychau/gtsdb-benchmark.git
