data/*.aof
data/*.idx
gtsdb
buffer/testdata/*
testdata/*
gtsdb.exe
gtsdb.exe~
gtsdb.ini
buffer/data/*
mydata/*
data/*.backup.*
data/*.manual_backup.*
data/users.json
data/**/*.aof
data/**/*.idx
logs/gtsdb*
*.dat
